@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    font-size: 14pt;
}

code {
    font-family: "Noto Sans Mono", monospace;
}