@inherits RazorLight.TemplatePage<Document>;
@using Checkmarkdown.Core.Elements;
@model Document;

<html>
<body>
@foreach (var element in Model.Children) {
    await IncludeAsync("element.cshtml", element);
}
</body>
</html>