@using Checkmarkdown.Core.Elements;
@using HtmlHelper = Checkmarkdown.Web.Builders.RazorHtmlHelper

@inherits RazorLight.TemplatePage<Link>;
@model Link;

@{
    var target = Model.Target;
    if (Model.IsInternal) {
        target = HtmlHelper.Document?.PathToRoot($"/{target}");
    }
}

<a href="@target">@{ await IncludeAsync("elements.cshtml", Model.Children); }</a>